<template>
    <template if:true={openConfirmModal}>
        <c-common-confirm-modal 
            dialogheadertext="確認" 
            dialogtext={msg} 
            dialogtext-array-string={recordString}
            cancellabel="キャンセル" 
            executelabel="実行" 
            oncancel={handleCancel}
            onexecute={handleStart}>
        </c-common-confirm-modal>
    </template>
    <template if:true={openResultModal}>
        <c-common-confirm-modal 
            dialogheadertext="完了" 
            dialogtext={msg} 
            dialogtext-array-string={recordString}
            executelabel="OK" 
            onexecute={goback}>
        </c-common-confirm-modal>
    </template>
    <c-batch-checker job-id={jobId}>
    </c-batch-checker>
</template>