<template>
    <div role="dialog" tabindex="-1" aria-labelledby="beforeModal" class="slds-modal slds-fade-in-open ">
        <div class="slds-modal__container">
            <div class="slds-modal__header">
                <h2 id="beforeModalHeader" class="slds-text-heading--medium">{dialogheadertext}</h2>
            </div>
            <div class="slds-modal__content slds-p-around--medium">
                <p class="slds-text-align_center">{dialogtext}</p>
                <li for:each={dialogtextlist} for:item="row" key={row.Id}>{row.Name}</li>
            </div>
            <div class="slds-modal__footer">
                <template if:true={cancellabel}>
                    <lightning-button 
                        class="slds-m-top_medium"
                        label={cancellabel} 
                        variant="neutral" 
                        title={cancellabel} 
                        onclick={handleCancelClicked} >
                    </lightning-button>
                </template>
                <lightning-button 
                    class="slds-m-top_medium"
                    label={executelabel} 
                    variant="brand" 
                    title={executelabel} 
                    onclick={handleExecuteClicked} >
                </lightning-button>
            </div>
        </div>
    </div>
    <div class="slds-backdrop slds-backdrop--open"></div>
</template>