<template>
        <lightning-card
        title="Account Wire2"
        icon-name="standard:account"
    >
        <div class="slds-m-around_medium">
            <div>{name}</div>
            <div>{phone}</div>
        </div>
    </lightning-card>
    
</template>