<template>
        <lightning-card
        title="Account Wire"
        icon-name="standard:account"
    >
        <div class="slds-m-around_medium">
            <lightning-record-view-form
                object-api-name={objectApiName}
                record-id={recordId}
            >
                <lightning-output-field
                    field-name="Name"
                ></lightning-output-field>
                <lightning-output-field
                    field-name="Id"
                ></lightning-output-field>
                <lightning-output-field
                    field-name="Sysmodstamp"
                ></lightning-output-field>
            </lightning-record-view-form>
        </div>
        <p>Time: {time}</p>
    </lightning-card>
    
</template>